* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    min-height: 100vh;
    width: 100vw;
    font-family: cooper, ui-serif,
        Georgia, Cambria, Times New Roman, Times, serif;

}

.page1 {
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(207, 127, 21); */
}

.page1>.bar {
    height: 13%;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 22px; */
    padding: 0 28px;
    /* position: fixed; */
    font-family: cooper, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;

}

.page1>.mid {
    height: 87vh;
    width: 100%;
    /* background-color: aqua; */
    /* position: absolute; */
    position: relative;
    /* top: 10%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mid>.digital {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background: rgb(206, 103, 103); */
    /* margin-top: 15%; */

}


.page1>.mid>.digital>img {
    width: 230px;
    height: 18px;
}

.bar>ul {
    /* background-color: red; */
    display: flex;

    /* width: 40vmax; */
    list-style: none;
    /* justify-content: space-between; */
    letter-spacing: 2px;
}

.bar>ul>li {
    margin: 0 1vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar>h2 {
    font-size: 2.3vmax;
    font-weight: 300;
    /* align-items: center; */
    /* display: flex; */

}

.bar>h2>i {
    color: rgb(91, 255, 82);
    font-size: 0.5vmax;

}

.bar>ul>li>button {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 50px;
    letter-spacing: 2px;
    background-color: white;
}

.bar>ul>li>button>i {
    font-size: 2.5vmax;
    width: 90px;
    /* font-weight: 200; */
}

.page1>.mid>.digital>h1 {
    display: flex;
    font-size: 4vmax;
    /* justify-content: center;
align-items: center; */
    text-align: center;
    font-weight: 400;
	z-index:200;
}

.digital>h4 {
    display: flex;
    align-items: center;
    font-size: 1.5vmax;
    padding-top: 40px;
    font-weight: 400;
}

.digital>h4>button {

    height: 30px;
    width: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 50px;
    letter-spacing: 2px;
    background-color: white;
    margin-left: 10px;
}

.digital>h4>button>i {
    font-size: 2.5vmax;
    width: 90px;
}

.mid>.left {
    top: 17%;
    left: 5%;
    width: 20%;
}

.page1>.mid>img {
    position: absolute;
    /* height: 300px;
    width: 200px; */
    /* margin-left: 10vmax; */
    /* margin-top: 20%; */

    /* background-color: blanchedalmond; */
}

.mid>.top {
    width: 19%;
    left: 60%;
    top: 1%;
}

.mid>.right {
    width: 18%;
    bottom: 5%;
    left: 70%;
}

.main>.page2 {
    height: 58vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #000;
    text-align: center;


}

.page2>h1 {
    font-size: 3vmax;
    width: 60%;
    background: #000;
    font-family: cooper, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
    letter-spacing: 1px;
    font-weight: 300;
    color: white;
}

.page2>h5>i {
    color: rgb(91, 255, 82);
    font-size: 0.5vmax;
}

.page2>h6 {
    font-size: 1.7vmax;
    display: flex;
    color: white;
    font-weight: 500;
}

.page2>h6>button>i {
    font-size: 2.5vmax;
    width: 90px;
    color: rgb(255, 255, 255);
}

h6>button {
    height: 30px;
    width: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 50px;
    background: transparent;
    letter-spacing: 2px;
    border-radius: white;

    margin-left: 10px;
}

.page2>h5 {
    font-size: 1vmax;
    font-weight: 500;
    color: white;
}

.page2>h1>span>img {
    /* height: 30%;
    width: 20%;
  { */
    position: absolute;
    height: 100%;
    width: 100%;
}

.page2>h1>span {
    position: relative;

}



.main>.page3 {
    height: 120vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;

}

.page3>.left {
    height: 100%;
    width: 50%;
    /* background: blue; */
    position: relative;
}

.page3>.left>.one {
    width: 22%;
    height: 55%;
}

.page3>.left>.two {
    height: 30%;
    width: 22%;
    position: absolute;
    top: 60%;
    left: 0;
}

.page3>.left>.three {
    width: 50%;
    height: 30%;
    position: absolute;
    top: 0%;
    left: 27%;
}

.page3>.left>.four {
    height: 60%;
    width: 70%;
    position: absolute;
    top: 35%;
    left: 27%;
}

.page3>.right {
    height: 100%;
    width: 50%;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.right>h1 {
    font-size: 4vmax;
    width: 80%;
    /* text-align: center; */
    font-weight: 400;
    /* background-color: antiquewhite; */
    margin-top: 12%;
    /* height: 15%; */
}

.right>h1>span>img {
    width: 15vmax;
    /* height: 20px; */
    /* margin-bottom: 15%; */
    /* margin-left: 25%; */
    /* background: #000; */
    position: absolute;
    left: 0%;
    top: 85%;
}

.right>h1>span {
    position: relative;
}

.right>p {
    letter-spacing: 2px;
    width: 80%;

    /* background-color: blanchedalmond; */
    font-size: 1.5vmax;
    line-height: 2.5vmax;
    font-weight: 300;
    margin-bottom: 16%;
}

.right>.learn {
    width: 80%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* position: absolute;
    bottom: 15%;
    left: 10%; */
    margin-bottom: 10%;
    
}

.learn>h4 {
    font-size: 1.5vmax;
    font-weight: 200;
}

.right>.learn>img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.learn>button {
    height: 50px;
    width: 220px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 50px;
    letter-spacing: 2px;
    background-color: white;
}

.learn>button>i {
    font-size: 2.5vmax;
    width: 90px;
}

.page4 {
    height: 120%;
    width: 100%;
    /* background-color: antiquewhite;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page4>h1>span {
    position: relative;

}

.page4>h1 {

    font-size: 4vmax;
    width: 80%;
    /* text-align: center; */
    font-weight: 400;
    margin-top: 5%;
}

.page4>h1>span>img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.page4>.box {
    display: flex;
    flex-wrap: wrap;
    white-space: wrap;
    width: 70%;
    height: 80%;
    /* background-color: beige; */
    justify-content: space-around;
    margin-top: 5%;
}

.page4>.box>img {
    height: 10%;
    width: 15%;
    margin: 2vmax 2vmax;
}

.page4>img {
    height: 10%;
    width: 15%;
}

.page5 {
    height: 100%;
    width: 100%;
    /* background-color: palevioletred; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page5>.top {
    height: 50%;
    width: 80%;
    /* background-color: azure; */
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.page5>.top>.left {
    height: 100%;
    width: 48%;
    background-image: url("https://images.unsplash.com/photo-1597369237991-5c95d1b6e0c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    padding: 3vmax;
    display: flex;
    box-shadow: 0 0 200px rgba(0, 0, 0, 1) inset;
    flex-direction: column;
    justify-content: space-between;
}

.top .right {
    height: 100%;
    width: 48%;
    background-image: url("https://images.unsplash.com/photo-1456735190827-d1262f71b8a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1768&q=80");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    padding: 3vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 200px rgba(0, 0, 0, 1) inset;

}

.top img {
    height: 3vmax;
    width: 10vmax;
}

.top .data {

    margin-top: 10vmax 0;
    color: #fff;

}

.top .data h1 {
    font-size: 2.3vmax;
    font-weight: 200;
    margin-bottom: 1.5vmax;
}

.top .data h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17vmax;
    font-size: 1.5vmax;
    font-weight: 400;
    font-family: sequel-sans-display, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.top .data h2 i {
    font-size: 2.5vmax;
    color: white;
}

.top .data h2 button {
    border: 1px solid white;
    height: 30px;
    width: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 50px;
    background: transparent;
    letter-spacing: 2px;
    border-radius: white;
}

.page5>.icon {
    width: 35%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}

.icon>h4 {
    font-size: 1.5vmax;
    font-weight: 200;
}

.icon>img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.icon>button {
    height: 50px;
    width: 220px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 50px;
    letter-spacing: 2px;
    background-color: white;
}

.icon>button>i {
    font-size: 2.5vmax;
    width: 90px;
}



.six {
    height: 85vh;
    width: 100vw;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;



    font-size: 14px;
    color: #000;
    padding: 0;
}

.swiper {
    width: 80%;
    height: 80%;

}

.swiper-slide {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;



    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;

}

.swiper-slide img {
    height: 5vmax;
}

.swiper-slide h2 {
    margin: 2vmax 0;
    font-size: 3.5vmax;
    text-align: center;
    font-weight: 100;
    width: 60%;

}

.swiper-slide h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmax;
    font-weight: 300;
}

.swiper-slide h4 {
    margin: .5vmax 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vmax;
    font-weight: 300;
    color: rgb(151, 151, 151);
}








/* seventh page  */

.seventh {
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.seventh .top {
    width: 100vw;
    height: 20vh;
    background-color: #fff;
}

.seventh .bottom .overflow {
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 60vw;
    height: 40vh;
    background-image: url("https://images.unsplash.com/photo-1522027665652-ee10c408bd1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2875&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 200px rgba(0, 0, 0, 1) inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition-duration: .5s;
    transition-timing-function: linear;
    transition-timing-function: ease-in-out;
    opacity: 1;
}

.seventh .bottom {
    position: relative;
    width: 80vw;
    height: 80vh;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.seventh .overflow h1 {
    color: #fff;
    font-weight: 100;
    text-align: center;
    width: 90%;
    font-size: 2vmax;
    margin-bottom: 2vmax;
}

.seventh .profile {
    color: #fff;
    margin-top: 1vmax;
    display: flex;
    align-items: center;
}

.seventh .profile img {
    height: 4vmax;
    width: 4vmax;
    border-radius: 50%;
    object-fit: cover;
}

.seventh .profile h2 {
    font-family: sequel-sans-display, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1.5vmax;
    font-weight: 400;
    margin: 0 2vmax;
}

.seventh .profile button {
    border: 1px solid rgb(255, 253, 253);
    color: rgb(0, 0, 0);
}

.seventh .profile button i {
    margin-left: .5vmax;
    color: #fff;
}

.seventh .mid {
    color: #fff;
    padding-top: 2vmax;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;

}

.seventh .mid h1 {
    margin-bottom: 2vmax;
    width: 70%;
    font-size: 3.5vmax;
    font-weight: 300;
}

.seventh .mid .a h2 {
    margin-top: 2vmax;
    display: flex;
    justify-content: space-between;
    width: 11vmax;
    align-items: center;
}

.seventh .mid .a button {
    color: rgb(0, 0, 0);
    border: 1px solid white;
}

.seventh .mid .a button i {
    color: rgb(0, 0, 0);
}


.seventh .mid h1 span {
    position: relative;
}

.seventh .mid h1 span img {
    position: absolute;
    top: -10%;
    left: -10%;
    height: 5.3vmax;
}

.seventh .mid h2 {
    margin-bottom: 2vmax;
    font-family: sequel-sans-display, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

    font-size: 1.5vmax;
    font-weight: 400;
}

.seventh .mid h4 {
    margin: 1vmax;
    font-family: sequel-sans-display, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: rgb(102, 102, 102);
    font-size: 1.2vmax;
    font-weight: 200;
}

.seventh .c {
    margin: 0 4vmax;
}

.seventh .e img {
    margin: 1vmax 0;
}

.seventh .e {
    margin-top: -2.5vmax;
    margin-left: 4vmax;
    display: flex;
    flex-direction: column;
}

.seventh .e img:nth-child(1) {
    height: 5vmax;
}

.seventh .e img:nth-child(2) {
    margin: 0 auto;
    height: 9vmax;
    width: 9vmax;
    object-fit: cover;
}

.seventh .e img:nth-child(3) {
    height: 4vmax;

}

.seventh .footer {
    height: 10vh;
    width: 100%;
    color: #fff;
    border-top: 1px solid #808080;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seventh .footer h5 {
    display: flex;
    align-items: flex-end;
    font-size: 1.5vmax;
    font-weight: 100;
}

.seventh .footer ul i {
    color: #000000;
}

.seventh .footer h5 i {
    font-size: .4vmax;
    margin-bottom: .3vmax;
    color: #90f4a6;
}

.seventh .footer ul {
    display: flex;
    list-style: none;
    align-items: center;
    /* justify-content: center; */

}

.seventh .footer ul li {
    margin: 0 1vmax;
    font-size: .98vmax;
    color: #808080;
}

.main button i {
    color: black;
}

.main button {
    position: relative;
    overflow: hidden;
    z-index: 10;
}

/* button part  */
.main button::before {
    content: "";
    height: 100%;
    width: 0%;
    position: absolute;
    left: 0%;
    background-color: rgb(115, 219, 99);
    transition: 0.3s all ease;
    z-index: -1;
    cursor: pointer;
}

.main button:hover::before {
    position: absolute;
    /* z-index: -10; */
    width: 100%;
    cursor: pointer;
}

/* hover part  */

.one .navBar ul h1:hover {
    cursor: pointer;
    border-bottom: 2px solid #90f4a6;
}

.one .navBar>h1:hover {
    scale: .95;
    opacity: .5;
    cursor: pointer;
}

.seventh .b h4:hover,
.seventh .c h4:hover,
.servicesContent h4:hover {
    cursor: pointer;
    border-bottom: 1px solid #90f4a6;
}

.main .one .servicesContent {
    margin: 0 auto;
    border-top: .5px solid rgb(176, 176, 176);
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 25vh;
    left: 0vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10vw;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: .4s all ease-in-out;
}

.main .one .servicesContent ul {
    display: flex;
    flex-direction: column;

}

.main .one .servicesContent h4 {
    margin: .8vmax 0;
    font-size: 1.5vmax;
    font-weight: 100;
    padding-bottom: .2vmax;
}





/* responsive part  */


@media (max-width:430px) {
    .one .navBar ul {
        display: none;
    }

    .one .navBar .resIcon {
        font-size: 3vmax;
        display: initial;
    }

    .one .imgT {
        height: 0vmax;
    }

    .one .imgR {
        height: 0vmax;
    }

    .main .one .center {
        width: 100vw;
        position: relative;
        flex-direction: column;
        /* align-items: center;  */
        display: flex;
        justify-content: space-between;
    }

    .one .imgL {
        position: relative;
        height: 100%;
    }

    .main .one .text {
        position: relative;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 3vmax;
        font-size: 1vmax;
    }

    .main .one .text h3 {
        align-items: center;
        width: 40%;
    }


    .main .three {
        flex-direction: column;
        justify-content: space-between;
    }

    .main .three .left {
        width: 100%;

    }

    .main .three .right {
        padding-left: 5vmax;
        justify-content: flex-end;
        width: 100%;
    }

    .main .three .right p {
        margin: 2vmax 0;
        font-size: 1.8vmax;
    }

    .main .three .right .profile {
        width: 65%;
    }

    .three .left .imgOne {
        position: absolute;
        height: 30vh;
        left: 0;
        top: 4%;

    }

    .three .left .imgTwo {
        position: absolute;
        height: 15vh;
        left: 0;
        top: 68%;

    }

    .three .left .imgThree {
        position: absolute;
        left: 23%;
        top: 4%;
        height: 15vh;
        width: 50vw;
        object-fit: cover;

    }

    .three .left .imgFour {
        position: absolute;
        left: 23%;
        top: 39%;
        height: 35vh;
    }

    .main .four .mid img {
        height: 4vmax;
    }

    .main .four .mid {
        text-align: center;
    }


    .main .five {
        position: relative;
        justify-content: space-between;
    }

    .main .five .top {
        position: absolute;
        height: 90%;
        flex-direction: column;
    }

    .main .five .top .left {
        height: 85%;
        width: 100%;
    }

    .main .five .top .right {
        margin-top: 2vmax;
        width: 100%;
    }

    .main .five .bottom {
        height: 10%;
        position: absolute;
        bottom: 0%;
    }

    .main .seventh .overflow {
        position: absolute;
        width: 80vw;
        height: 30vh;
        top: -20%;
    }

    .main .seventh .mid {
        flex-wrap: wrap;
    }

    .main .seventh .e {
        margin-top: 2vmax;
        flex-direction: row;
        width: 80%;
    }

    .main .seventh .a {

        margin: 2vmax 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .main .seventh .a h2 {

        align-items: center;
        width: 30%;

    }

}

.page1 .bar .resIcon {
    display: none;
    font-size: 3vmax;
}

@media (max-width:420px) {
    .main {
        overflow-x: hidden;
    }

    .main .page1 .bar {
        position: relative;
    }

    .page1 .bar ul {
        display: none;
    }

    .main .page1 .resIcon {
        display: initial;
    }

    .main .mid img {
        display: none;
        width: 100%;
        background-position: center;
        left: 0;
    }

    .main .page1 .digital {
        top: 0;
    }

    .main .page1 .mid {

        justify-content: flex-start;
        padding-top: 2vmax;
    }

    .main .mid .left {
        display: initial;

        top: 25%;
        left: 0;
    }

    .main .page2 {
        justify-content: center;
    }

    .main .page2 h5 {
        font-size: 1.5vmax;
    }

    .main .page2 h6 {
        font-size: 1.5vmax;
    }

    .main .page2 h1 {
        width: 80%;
        margin: 5vmax 0;
        font-size: 2vmax;
    }

    .main .page3 {
        flex-direction: column;
    }

    .main .page3 .left {
        width: 70%;
        height: 35%;
        /* margin: 0 auto; */
    }

    .main .page3 .right {
        width: 80%;

        margin: 0 auto;

        height: 55vh;
        justify-content: space-between;
    }

    .main .page3 .learn {

        bottom: -10%;
    }

    .main .page4 .box {
        width: 50%;
    }

    .main .page4 .box img {
        height: 5%;
        width: 30%;
    }

    .main .page5 .top {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .main .page5 .top .left {
        width: 100%;
        margin-bottom: 3vmax;
    }

    .main .page5 .top .right {
        width: 100%;
    }
}